@import "fancybox";
@import "caption";
@import "tags";

.btn-group.pull-right{
  margin-right: 10px;
}
.fancybox-prev, .fancybox-next{
  opacity: 0;
}

a.fancybox{
  img {
    width: 230px;
    height: 230px;
  }
}

@media screen and (min-width: 768px) {

  #subject{
    min-height: 400px;
  }
}

.nav-pic {
  height: 100px;
  width: 100px;
}